---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Not Found">
    <div>
        <h2>Page not found</h2>
    </div>
</Layout>

<style lang="scss">
    div {
        background-image: url(/portal.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 500px;

        height: 100vh;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 800px) {
            background-size: 300px;
            width: 400px;
            & h2 {
                font-size: 50px;
            }
        }
    }
</style>
